body{
  font-family: 'lato', sans-serif;
}
h1,
h5,
h6 {
  font-weight: 300;
  line-height: 30px;
}
h1{
  font-size: 30px;
}
h2{
  font-size: 26px;
  font-weight: 400;
}
h3{
  font-size: 18px;
  font-weight: 300;
  line-height: 10px;
}
span{
  font-weight: 600;
  line-height: 20px;
}
p{
  line-height: initial;
}
.geral{
  min-height: calc(200% - 80px);
}
.titleccm{
  font-size: 38px;
}
.subtitleccm{
  font-size: 20px;
  font-weight: 100;
}
// Topo
.top{
  height: 800px;
  position: relative;
    &:before{
      content: ' ';
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0.2;
      z-index: -2;
      background-attachment: fixed;
      background-image: url("../images/fundotop.jpg");
      background-repeat: no-repeat;
      background-position: 50% 0;
      -o-background-size: cover;
      -moz-background-size: cover;
      -webkit-background-size: cover;
      background-size: cover;
    }
    &:after{
      content: ' ';
      position: absolute;
      width: 80%;
      height: 1117px;
      z-index: -1;
      left: 15%;
      background-image: url("../images/antena.png");
      margin-top: -480px;
      background-repeat: no-repeat;
    }
}
.texttop{
  text-align: left;
  position: absolute;
  display: block;
  top: 500px;
  left: 1200px;
}
.mouse{
  text-align: left;
  position: absolute;
  display: block;
  top: 650px;
  margin-left: 50px;
}

/* Desktop */
@media(max-width: 1700px){
  .top::after{
    left: -50px;
    width: 100%;
    background-size: cover;
  }
  .texttop{
    top: 600px;
    left: 850px;
  }
  .mouse{
    padding: 40px;
  }
}

/* Desktop ———– */
@media (max-width: 990px) and (min-width: 1300px) {
  h1{
    font-size: 22px;
    line-height: 20px;
  }
  h3{
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
  }
  .top::after{
    left: 5px;
    background-size: cover;
    margin-top: -480px;
  }
  .texttop{
    left: 350px;
  }
  .social{
    display: none;
  }
}
/* Desktop ———– */
/* Smartphone ———– */
@media(max-width: 450px){
  h1{
    line-height: 1;
  }
  h3{
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
  }
  .top::after{
    width: 183%;
    left: -310px;
    background-size: cover;
  }
  .texttop{
    margin-top: 0px;
    left: 80px;
  }
  .social{
    display: none;
  }
  nav.nav-main-menu{
    padding-top: 30px;
  }
}
.logotop{
  padding: 50px;

}
// Topo
// Menu style
nav.nav-main-menu{
  background-color: #47387D;
  padding: 20px;
}
.nav-wrap > ul.main-menu {
  text-align: center !important;

}
.nav-wrap > ul.main-menu a{
  text-decoration: none;
}
a.main-menu__link {
  color: #fff;
}
a.main-menu__link:active {
  color: #E5B951;
}
a.main-menu__link:hover {
  color: #E5B951;
}
//social menu
.social a{
  color: #fff;
  font-size: 20px;
}
.social a:hover{
  color: #E5B951;
}
.social{
  padding: 15px;
}
//Main
#main:before{
    content: ' ';
    position: absolute;
    width: 100%;
    height: 200%;
    z-index: -1;
    display: block;
    margin-top: 200px;
    background-image: url("../images/bg-fundo.png");
    background-repeat: no-repeat;
    background-position: 50% 0;
}
//Main
// About

.pt-80{
  padding-top: 80px;
}
.embed-container {
  width:200px;
  height:712px;
  background-size: cover;
}
.button{
  font-family: "Lato", sans-serif;
  font-size: 14px;
  border-radius: 20px;
  background-color: #47387d;
  color: #fff;
  padding: 0.9em 2.25em;
}
@media(max-width: 450px){
  .about{
    text-align: center;
  }
}
.explain-video a{
  position: absolute;
  width: 75px;
  height: 75px;
  top: 50%;
  left: 50%;
  border: 2px solid #47387d;
  border-radius: 50%;
  background: #47387d;
  color: #fff;
  font-size: 20px;
  line-height: 75px;
  text-align: center;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.explain-video a:hover {
    background: transparent;
    color: #47387d;
}
//About
//How
.how{
  text-align: center;
  height: auto;
}
.titleccm>p {
    padding: 0 350px;
}
.boxhowcircle{
  border-radius: 50%;
  background-color: #47387d;
  width: 255px;
  height: 255px;
  text-align: right;
  margin-left: 200px;
  padding-top: 40px;
}
.owl-theme .owl-nav{
  text-align: right !important;
}
  .owl-theme .owl-nav [class*=owl-]{
  background: transparent !important;
  font-size: 34px !important;
  }
@media(max-width: 450px){
  .boxhowcircle{
    border-radius: 50%;
    background-color: #47387d;
    width: 200px;
    height: 200px;
    margin-left: 40px;
    margin-top: -60px;
  }
  .boxhowtext{
    color: #222;
    text-align: justify;
    margin-top: -60px;
  }
  .title>p {
      padding: 0 1px;
  }
}
/* Desktop ———– */
@media(max-width: 990px) and (min-width: 1200px) {
  .boxhowcircle{
    margin-left: 0px;
  }
}
.boxhowtext{
  color: #222;
  text-align: justify;
}
.owl-carousel .owl-item img {
    display: block;
    width:auto !important;
}
.img-services{
  padding-top: 30px;
  max-width: none !important;
}

#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 60px;
}
#quote-carousel .carousel-control {
    background: none;
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}
#quote-carousel .carousel-indicators {
    position: relative;
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-top: 60px;
    margin-right: -19px;
}
#quote-carousel .carousel-indicators li {
    width: 100px;
    height: 100px;
    cursor: pointer;
    border: 0px;
    opacity: 0.4;
    overflow: hidden;
    transition: all .4s ease-in;
    vertical-align: middle;
}
#quote-carousel .carousel-indicators .active {
    width: 110px;
    height: 110px;
    background-color: transparent;
    opacity: 1;
    transition: all .2s;
}
.item blockquote {
    border-left: none;
    margin: 0;
}
.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}
//How
/* Smartphone ———– */
@media(max-width: 450px){
  .about-bottom-left.pt-120{
    text-align: center;
  }
  .img-services{
    padding-top: 20px;
    margin-left: -35px;
  }
  #main:before{
      height: 300%;
  }
  #quote-carousel .carousel-indicators li {
      width: 50px;
      height: 50px;
  }
  #quote-carousel .carousel-indicators .active {
    width: 60px;
    height: 60px;
  }
}
// Cases
.cases{
  background-color: #F4BA47;
  padding-bottom: 50px;
  color: #ffffff;
  text-align: center;
  padding-top: 40px;
}
.title>p {
    padding: 0 232px;
}

.boxcases{
  padding-top: 20px;
  padding-bottom: 10px;
}
.boxcasestext{
  text-align: justify;
}

.img-cases{
  padding-top: 10px;
  text-align: -webkit-right;
}
.info{
  padding-top: 30px;
}
.infosubtext{
  color: #4B3680;
  font-weight: bold;
  bottom: 110px;
  margin: 0;
  line-height: normal;
  position: absolute;
  left: 120px;
  font-size: 1.142em;
}
.infosubfuncao{
  color: #4A4A4A;
  font-weight: 200;
  bottom: 95px;
  margin: 0;
  line-height: normal;
  position: absolute;
  left: 120px;
  font-size: 1.142em;
}
.buttoninfo{
  margin-top: 40px;
  text-align: left;
}
.buttoncase{
  font-family: "Lato", sans-serif;
  font-size: 14px;
  border-radius: 20px;
  box-shadow: 0 0 0 4px #CF9E3C;
  color: #fff;
  padding: 0.4em 4.25em;
}
.buttoncase:hover{
  color: #222;
}
.boxcases .boxcasestext img {
    width: 80px !important;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}

// Cases
// Visao
.vision{
  padding-top: 120px;
  text-align: center;
}
.textvision{
  text-align: justify;
}
.titlevision>p {
    padding: 0 350px;
}
.infovision>h2{
    padding: 80px;
    color: #4B3680;
    font-family: "Droid Serif";
    font-weight: bold;
    font-style: italic;
}
.boxvision{
  padding: 100px;
}
/* Smartphone ———– */
@media(max-width: 450px){
  .title>p {
      padding: 0 1px;
  }
  .img-cases{
    padding: 10px;
    margin-top: -20px;
    text-align: center;
  }
  .buttoninfo{
    margin-top: 20px;
    position: absolute;
  }
  .infosubtext{
    bottom: 50px;
  }
  .infosubfuncao{
    bottom: 35px;
  }
  .titleccm > p{
    padding: 0 0px;
  }
  .boxvision{
    padding: 20px;
  }
  .infovision>h2{
    margin-top: 280px;
    padding: 20px;
  }
}
// Visao
//Clientes
// Visao
.clients{
  padding-top: 120px;
  text-align: center;
  padding-bottom: 120px;
}
.textclients{
  text-align: justify;
}
.titleclients>p {
    padding: 0 350px;
}
.imgclientes{
  width: 220px;
  height: 125px;
  object-fit: cover;
}
.imgclients{
  padding-top: 20px;
}
.imgclients>a img{
  filter: grayscale(100%);
}
.imgclients>a img:hover{
  filter: grayscale(0%);
}
.topclientes{
  padding-bottom: 420px;
  padding-top: 80px;
}

//Clientes
//info
.titleinfo> h1{
  font-size: 48px;
  padding: 0 180px;
  line-height: 50px;
}
.titleinfo{
padding-top: 40px;
}
.iconinfo{
  font-size: 72px;
}
//info
//time
.time{
  padding-top: 120px;
  text-align: center;
  padding-bottom: 120px;
}
.titletime{
  padding: 0 260px;
}
.imgtime{
  padding-top: 40px;
}
.imgtime > img{
  width: 281px;
  height: 281px;
}
.texttime{
  width: 273px;
  height: 78px;
  background-color: #fff;
  margin-top: -90px;
  margin-left: 38px;
  display: block;
  position: absolute;
  padding: 10px;
}
.texttime>h2{
  font-family: "Lato";
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
}
.texttime>p{
  font-family: "Lato";
  font-weight: normal;
  text-align: left;
  margin-top: -15px;
  text-transform: uppercase;
}
//time
//contato
.contato{
  text-align: center;
}
.infoct{
  border-color: #979797;
  height: 46px;
  color: #A9A7AA;
  font-family: 'Lato';
  font-weight: 100;
  padding: 5px;
}
.areact{
  border-color: #979797;
  color: #A9A7AA;
  font-family: 'Lato';
  font-weight: 100;
  padding: 5px;
}
input.wpcf7-form-control.wpcf7-submit.button{
    padding: 1.0em 5em;
    border-radius: 30px;
    background-color: #47387d;
    color: #fff;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    margin-top: 35px;
}
//contato
//footer
.footer-main{
  background-color: #4B3680;
  width: 100%;
  height: 610px;
  color: #fff;
  padding: 200px;
  font-family: "Lato";
  line-height: 2px;
}
.footer-main h1{
  font-weight: bold;
  font-size:42px;
}
.endereco{
  margin-top: 120px;
}
/* Smartphone ———– */
@media(max-width: 450px){
  .footer-main{
    padding: 50px;
  }
  .titleinfo >h1{
        padding: 0 0px;
  }
  .texttime{
    margin-left: 20px;
  }
}
//fotter
//scroll
#scroll-top.show {
    bottom: 40px;
    filter: alpha(opacity=100);
    opacity: 1;
    visibility: visible;
}

#scroll-top {
    position: fixed !important;
    right: 25px;
    bottom: -50px;
    display: block;
    line-height: 38px;
    text-align: center;
    width: 40px;
    height: 40px;
    visibility: hidden;
    filter: alpha(opacity=0);
    opacity: 0;
    z-index: 9999;
    cursor: pointer;
    z-index: 1;
    overflow: hidden;
}

.show {
    display: block !important;
}
#scroll-top:before {
    border-radius: 3px;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #47387D;
    z-index: -1;
    transition: all ease .238s;
}
#scroll-top:after {
    content: "\f106";
    font-family: "FontAwesome";
    color: #fff;
    font-size: 20px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    transition: all ease .238s;
}
//scroll
//page portfolio
#portfolio{
  width: 100%;
}
.imagensport{
  position: relative;
  float: left;
  max-width: 25%;
}
.imagensport img{
  max-width: 100%;
}
.imagensport:hover {
    display: block;
}
.imagensport .textoportfolio{
    width: 100%;
    line-height: 1.2em;
    position: absolute;
    bottom: 5%;
    left: 10px;
    z-index: 2;
    color: #fff;
    font-weight: bold;
    text-align: center;
    display: none;
}
.imagensport .textoportfolio h1{
  font-family: "Lato";
  font-weight: bold;
}
.imagensport .bgportfolio{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    z-index: 1;
}
.img-portfolio{
  width: 500px;
  height: 500px;
  object-fit: cover;
}
@media(max-width: 450px){
  width: 200px;
  height: 200px;
}
